[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
pydantic = "*"
pymongo = {extras = ["srv"], version = "*"}
ipython = "*"
simplejson = "*"
fastapi-pagination = {extras = ["pymongo"], version = "*"}
fastapi-users = {extras = ["beanie"], version = "*"}
fief-client = {extras = ['fastapi'], version = "*"}
starlette-csrf = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.11"
